@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&family=Raleway:wght@100..900&family=Roboto:wght@400;700;100&display=swap');
@import 'swiper/swiper-bundle.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font settings */
* {
  font-family: 'Public Sans', sans-serif; /* Set global font to Public Sans */
  box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

/* Theme-specific colors for non-card components */
:root {
  --bg-color: white; /* Default background color for body and non-card elements */
  --text-color: black; /* Default text color for body */
  --primary-color: #3b82f6; /* Default blue for primary elements */
  --navbar-bg: white; /* Navbar background for light mode */
  --navbar-text: black; /* Navbar text color for light mode */
}

.dark {
  --bg-color: #1a202c; /* Dark mode background */
  --text-color: #f9fafb; /* Light text on dark background */
  --primary-color: #60a5fa; /* Adjusted lighter blue for dark mode */
  --navbar-bg: #1f2937; /* Navbar background for dark mode */
  --navbar-text: #f3f4f6; /* Navbar text color for dark mode */
}



/* Apply theme colors globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme changes */
}

/* Navbar */
nav {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a {
  color: var(--navbar-text);
}

nav a:hover {
  color: var(--primary-color); /* Adds hover effect to navbar links */
}

/* Buttons */
.btn-primary {
  @apply font-semibold py-2 px-4 rounded-lg;
  background-color: var(--primary-color);
  color: white; /* Button text remains white */
  @apply hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
}

/* Form Inputs */
.form-input {
  @apply w-full px-4 py-2 border rounded-lg;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--primary-color);
  @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none; /* Hides scrollbar for webkit browsers */
}

* {
  scrollbar-width: none; /* For Firefox */
}

/* Responsive Typography */
@media (min-width: 768px) {
  .login-heading {
    @apply text-3xl; /* Increase heading size on larger screens */
  }

  .login-form {
    @apply p-10; /* Increase padding on larger screens */
  }
}